body {
    background-repeat: repeat-y;
    background-size: 100%;
    text-align: center;
    background: #1A2231 !important;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.centerText{
    text-align: center;
}
.paraColor {
    color: white;
}
#title {
    margin-top: 15px;
    color: cornsilk;
    padding: 5px;
    border: solid 2px gray;
    border-left:hidden;
    border-right: hidden;
    font-family: 'Bebas Neue', cursive;
}

#footer {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: x-small;
    background-color: black;
    color: gray;
}
#answer {
    margin-top: 1%;
    font-weight: bolder;
    font-size:25px;
    color: #CFFDE1;
}

div {
    margin:auto;
    padding: 5px;
    display: grid;
    width:  50%;
}