#input-div {
    display: none;
}

::placeholder {
    color: rgba(198, 188, 188, 0.548) !important;
}

@media (max-width: 992px)
{
    #list {
        font-size: 1rem !important;
    }
}

button:hover {
    background-color: transparent !important;
    color: white !important;
}

#title {
    color: #86EFAC !important;
}

main {
    padding-bottom: 120px;
}

#footer {
    background-color: rgb(55,65,81) !important;
    color: #9CA3AF !important;
    font-size: small;
    font-family: 'Istok Web', sans-serif;
}

#answer {
    background-color: #374151;
}