body{
    background-color: #FFEFD6;
}
#ans{
    color: #031b2c;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}

#cards{
    width: 95%;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerText{
    text-align: center;
}

#input{
    text-align: center;
    border: #031b2c 2px solid;
    padding-top: 5px;
}

.btn{
    margin-top: 10px;
    font-size: 15px;
    background-color: black;
    color: #FFEFD6;
    padding: 7px;
    margin-bottom: 5px;
}