
#input-div {
    display: none;
}

::placeholder {
    color: rgba(198, 188, 188, 0.548) !important;
}

@media (max-width: 992px)
{
    #list {
        font-size: 1rem !important;
    }
}

button:hover {
    background-color: transparent !important;
    color: white !important;
}

#title {
    color: rgb(134 239 172) !important;
    /* font-size: 2.2rem !important; */
}